#commH1{
    padding: 100px 0 80px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 140%;
}
#privacyImg{
    width: 1100px;
    padding-bottom: 30px;
}
.containerpri{
    text-align: start;
}
#commP{
    font-size: 16px;
    line-height: 28px;
    color:  #E5E5E5;
}
#commH2{
    padding: 60px 0 20px 0;
    font-weight: bold;
    color: #FAFAFA;
    font-size: 30px;
}
#commH5{
    padding-top: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
#commUL li{
    line-height: 25px;
    
}