.search-box {
  width: 100%;
  position: relative;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 4px solid #111d5e;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 20px;
  color: tomato;
  background: none;
}
